<body class="course">
<div class="courses">
  <h1>BUSINESS ADVISORY BOARD</h1>
  <p style="text-align:left">The Consortium Advisory Board includes representatives from the workforce investment system, community colleges, business and industry, a continuum of education, community organizations, and representatives from state and local government. The Advisory Board members serves as subject matter experts and meet to provide insight, suggestions, and concerns in order to maximize the effectiveness of the project. As new businesses in this emerging industry locate in the region they will be invited to join the Advisory Board.</p><br>
  
  <p style="text-align:left">Frederick Ferrer, the Director of Information Dominance/CyberSpace at ARINC, serves as the chair of the consortium’s Business Advisory Board, which will ensure the project continues to meet the needs of the business community.

</p><br>
  
  <p style="text-align:left">In addition to the resource partners, the board includes ARINC, Chesapeake Regional Tech Council, Praxis, TechAmerica, Anne Arundel County Public Schools, University of Maryland University College, Goodwill Industries of the Chesapeake, Anne Arundel Economic Development Corporation, Maryland Department of Business and Economic Development, Maryland Department of Labor, Licensing and Regulation, and the Maryland Governor’s Workforce Investment Board.</p><br>
  
  
  
  
  
  