<body class="course">
<div class="courses">
  <h1>BUSINESS</h1>
  <h2>Businesses form the backbone of the consortium. Their role is to provide the industry knowledge and expertise on the cybersecurity needs of the region, and identify the workforce skills necessary for the field.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">As part of this role, the workforce agencies will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left"> Promote the curriculum & training programs within the business community.</p></li>
       <li> <p style="text-align:left">Refer incumbent workers for skills upgrade and certification acquisition.</p></li>
        <li><p style="text-align:left">Assist in identifying subject matter experts.</p></li>
        <li><p style="text-align:left">Provide internships or other learning opportunities for individuals interested in cybersecurity careers.</p></li>
        <li><p style="text-align:left">Hire successful completers of cybersecurity training.</p></li>
       
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Community College Partners:</strong></h2>
    <p style="text-align:left"><a href="http://www.arinc.com/" target="_blank">ARINC</a> – As the premier provider of communications, engineering, and integration solutions, ARINC helps customers in the defense, commercial, and government industries mitigate risk, improve operational and systems performance, and meet program requirements. ARINC is a global company distinguished by technical strength, knowledge, and experience. Their innovation, disciplined pursuit of excellence, and dedication to success are all key distinctions or ARINC.</p><br>
    <p style="text-align:left"> <a href="http://www.praxiseng.com/" target="_blank">PRAXIS</a> – Praxis Engineering, headquartered in Annapolis Junction, Maryland, is a consulting, products, and solutions firm dedicated to the practical application of software and systems engineering technologies to ensure the success of our customers. Praxis Engineering brings together world class engineering talent combined with engineering best practices, domain expertise, commercial technologies, and proven agile management approaches to create high-value solutions aimed at helping our customers meet their mission critical needs</p><br>
   
   
    
    
  </div>
  
  
  
  
