<body class="course">
<div class="courses">
  <h1>COMMUNITY COLLEGES</h1>
  <h2>The role of the partnering community colleges; located in Anne Arundel, Howard, and Carroll Counties; is to provide the occupational training required to meet the cybersecurity certification needs of Maryland’s businesses.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">As part of this role, the workforce agencies will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left"> Oversee curriculum development and administration of cybersecurity coursework.</p></li>
       <li> <p style="text-align:left">Promote cybersecurity training in the respective communities.</p></li>
        <li><p style="text-align:left">Assess & refer candidates to college supportive services.</p></li>
        <li><p style="text-align:left">Train target populations referred by the workforce agency partners.</p></li>
        <li><p style="text-align:left">Provide training to meet business certification needs in the field of cybersecurity.</p></li>
       
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Community College Partners:</strong></h2>
    <p style="text-align:left"><a href="http://www.aacc.edu/">Anne Arundel Community College (AACC)</a> – AACC is the lead college in the Consortium and a recognized leader in cybersecurity education. It was the first community college in the country to develop cybersecurity curricula and the first community college certified by the NSA that its cybersecurity degree and certificate map to the National Security Telecommunications and System Security Instruction (NSTISSI) 4011 standard for information security professionals in the federal government. AACC works closely with industry professionals to ensure that its curricula prepare students for the workforce. Because the college mapped to two NSA standards, it was one of 7 community colleges in the country invited by NSA to apply to become a Center for Academic Excellence for Two-Year Colleges..</p><br>
    <p style="text-align:left"> <a href="http://www.carrollcc.edu/">Carroll Community College (CCC)</a> –Carroll Community College is actively participating in the Pathways to Cybersecurity Careers initiative and is offering a wide variety of non-credit cybersecurity training opportunities to the public and business community. Carroll is currently offering track 2 (IC3 and A+) and track 3 (IC3, Network+, and Security+) and will be offering tracks 4 – 10 as needed. Carroll has the ability to offer any certification training on demand as needed based on participant need. Additionally, Carroll is partnering with the Mid Maryland Workforce Investment Board to provide incumbent worker training for local businesses.</p><br>
    <p style="text-align:left"> <a href="http://www.howardcc.edu/">Howard Community College (HCC)</a> –Howard Community College plans to offer all 10 curriculum tracks within two years. The HCC Test Center will be available to all students who wish to take exams. HCC is a Certiport and VUE testing site. Course scheduling will be on a flexible format, with both credit and non-credit courses offered, and options available to complete the training in a short time frame. Network security training can also be provided at work sites. Full time faculty will be the primary instructors for these courses, and advisors will be designated to work with students in this curriculum. HCC will track students to completion and provide assistance in job placement.</p><br>
   
    
    
  </div>
  
  
  
  
