

<body class="course">
<div class="courses">
  <h1>CONTACT US</h1>
  
  <h2>To receive more information about Pathways to Cybersecurity, contact your local Cyber representative:</h2><br>
  
  <h2>Anne Arundel County</h2>
  <p class="italics">Lili Melendez-Dendy<br> <i><a href="mailto:cyberinfo@aawdc.org">cyberinfo@aawdc.org</a></i></p><br>
  
  <h2>Carroll County Business Services</h2>
  <p class="italics">Chris Winebrenner <br> <i><a href="mailto:cwinebrenner@ccg.carr.org">cwinebrenner@ccg.carr.org</a> <br> 410-386-2820</i> </p><br>
  
  
<h2>Baltimore City</h2>
  <p class="italics">Michael Volk <br> <i><a href="mailto:wvolk@oedworks.com">wvolk@oedworks.com</a> <br> 410-396-4656</i> </p><br>
  
<h2>Howard or Carroll County</h2>
  <p class="italics">Jeryl Baker <br> <i><a href="mailto:jbbaker@howardcountymd.gov">jbbaker@howardcountymd.gov</a> <br> 410-290-2609</i> </p><br>
  
 
 