<body class="course">
<div class="courses">
  <h1>EDUCATION AND COMMUNITY</h1>
  <h2>Consortium members include education and community providers that can sustain a continuum of education, in addition to outreach to the community.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">Educational partners will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left">Provide assistance in the development & distribution of outreach materials to educate students & parents about training opportunities in the industry.</p></li>
       <li> <p style="text-align:left">Improve program pathways to offer smooth transition from public schools to community college to 4-year institutions.</p></li>
        <li><p style="text-align:left">Participate in cybersecurity curriculum development.</p></li>

       
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Education Partners:</strong></h2>
    <p style="text-align:left"><a href="http://business.maryland.gov/" target="_blank">http://aacps.org/ </a> –The Science, Technology, Engineering, and Math (STEM) Office at AACPS offers suites of STEM academic and co-curricular offerings for pre K-12 students during the academic year and summer months to enrich and enhance learning, build STEM career awareness and engage students in challenging STEM-related projects and events. By increasing the pool of engaged participants, especially those from backgrounds traditionally under-represented in the STEM pipeline, we can help secure the future supply of graduates to meet local, regional, state and national needs and ensure the sustainability of flowing STEM career pathways over the longer term.</a></p><br>
    
    <p style="text-align:left"> <a href="http://www.umuc.edu/academic-programs/index.cfm" target="_blank">University of Maryland, University College (UMUC) </a> –  UMUC has expanded its highly successful information assurance program into new online cybersecurity programs. They offer a bachelor's or master's degree in cybersecurity, a master's degree in cybersecurity policy, and three new graduate certificates offered completely online. An advanced virtual security lab enables students to combat simulated cyber attacks as part of the program. Both the National Security Agency and the Department of Homeland Security have designated UMUC as a National Center of Academic Excellence in Information Assurance Education.</p><br>
    
    <p style="text-align:left"> <a href="http://www.gwib.maryland.gov/" target="_blank">Maryland Governor’s Workforce Investment Board (GWIB) </a> –  GWIB is the governor's chief policy-making body for workforce development. It is a business-led board of 45 members, a majority of whom represent the business community. The GWIB is responsible for developing policies and strategies to form a coordinated workforce system from a variety of education, and employment and training programs. It brings together various workforce development partners and stakeholders to focus on two key outcomes – a properly prepared workforce that meets the current and future demands of Maryland employers, and opportunities for all Marylanders to succeed in the 21st century workforce.</p><br>
    
        <p style="text-align:left"> <a href="http://www.carrollk12.org/" target="_blank">Carroll County Public Schools (CCPS)</a> – The CCPS Science, Technology, Engineering and Mathematics (STEM) program applies to all students in grades K-12 and strives to increase students' interests, abilities and participation in science, technology, engineering, and mathematics careers.</p><br>
    
    <h2 style="text-align:left"> <strong> Community Partners:</strong></h2>
    
    
        <p style="text-align:left"> <a href="http://www.goodwillches.org/" target="_blank">Goodwill Industries of the Chesapeake</a> – Goodwill offers a wide range of training classes, case management, and career services all designed to help interested individuals find employment, improve their skill set, or change career paths. Through 14 career centers, job seekers are offered a range of workforce development services, from individualized career assessments, to job readiness training and access to hiring employers in industries such as health care, hospitality, retail, construction, and many others.</p><br>

   
    
    
  </div>
  
  
  
  
