<body class="course">
<div class="courses">
  <h1>FOR BUSINESS</h1>
  <p style="text-align:left">Employers form the cornerstone of the Pathways to Cybersecurity Careers project. Employers guide the focus of training to meet industry specifications, and help the Consortium to stay on the cutting edge of cybersecurity needs. Employers gain from referring their incumbent workers to training utilizing training funds, in addition to hiring newly trained skilled cyber workers as a result of the Pathways to Cybersecurity Careers project.</p>
 <br> <br>


      <h2 style="text-align:left"><strong>Incumbent Worker Training</strong></h2>
  <h2 style="text-align:left"><strong>Program Highlights</strong></h2>
      <ul style="text-align:left">
        <li><p style="text-align:left">The employer will be provided a direct reimbursement for 100% of eligible cybersecurity training up to $2,500 per employee to compensate for the employer’s costs of training the individual. Funding is capped at $30,000 per employer during the program year.</p></li>
       <li><p style="text-align:left">Private sector employers (both for-profit and non-profit) are eligible to participate in the incumbent cybersecurity worker training program. Federal agencies are excluded from this program.</p></li>
        </ul> 

  
        <h2 style="text-align:left"><strong>Eligible Training</strong></h2>
      <ul style="text-align:left">
        <li><p style="text-align:left">Cybersecurity training is provided in partnership with Anne Arundel, Howard, and Carroll Community Colleges. Training must be provided by one of the three community colleges.</p></li>
       <li><p style="text-align:left">AAWDC has approved 21 courses, organized into 10 suggested training tracks, for eligible cybersecurity training. Training can be loosely categorized into Introductory Tracks, Networking Tracks, Cybersecurity Tracks, and a Digital Forensics Track. Specific training coursework can be found on Anne Arundel Community College’s Cyber Center site.</p></li>
         <li><p style="text-align:left">Training leads to industry certifications, many of which are addressed in DoD Directive 8570.1.</p></li>
        </ul> 
  
  <h2 style="text-align:left"><strong>Certifications include:</strong></h2>
      <div class="container">
         <div class="col-md-4">
               <p style="text-align:left">IC³</p>
              <p style="text-align:left">CompTIA A+</p>
               <p style="text-align:left">CompTIA Network+</p>
              <p style="text-align:left">CompTIA Security +	</p>
          </div>
        <div class="col-md-4">
          
               <p style="text-align:left">CCNA</p>
               <p style="text-align:left">MCSA 70-290</p>
               <p style="text-align:left">MCSA 70-291</p>
              <p style="text-align:left">SCNS	</p>
          
          </div>
        <div class="col-md-4">
          
               <p style="text-align:left">SCNP</p>
               <p style="text-align:left">CISSP</p>
               <p style="text-align:left">CEH</p>
              <p style="text-align:left">CCE	</p>
           
          </div>
      </div>  
  
  
  <h2 style="text-align:left"><strong>Program Guidelines</strong></p>

 <p class="italics" style="text-align:left"><i> Program Guidelines
After completion of training, the participant employee must attain one of the program outcomes:</i></p>
  
   <ul style="text-align:left">
        <li><p style="text-align:left">Shift to new job duties utilizing their new skill set,</p></li>
       <li><p style="text-align:left">Gain a new job title,</p></li>
         <li><p style="text-align:left">Receive an increase in compensation, OR</p></li>
     <li><p style="text-align:left">Certifications that lead to an employee's skills upgrade</p></li>
        </ul> 
  
 <p> <a href="http://www.aawdc.org/cyber/content_files/forms/cybersecurity_worker_training_v02.pdf">Download Incumbent Worker Application </a></p>
  
  
  

 