<body class="course">
<div class="courses">
  <h1>STATE AND LOCAL GOVERNMENT</h1>
  <h2>The role of Anne Arundel and Maryland government agencies is to connect the services of the consortium with the goals of the state and local government, through promotion and participation on the Advisory Board.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">As part of this role, the workforce agencies will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left">Promote and encourage participation of the project among partners.</p></li>
       <li> <p style="text-align:left">Outreach to businesses and job seekers statewide to participate in cybersecurity training and job placement.</p></li>
        <li><p style="text-align:left">Outreach to employers to identify needed skills, skills gaps, hiring needs, and incumbent workers.</p></li>
        <li><p style="text-align:left">Promote project through <a href="http://www.skills.maryland.gov/" target="_bank">Skills2Compete</a> Maryland, the Governor’s education and training initiative to encourage workers to gain the skills and credentials needed to obtain good jobs.</p></li>
       
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Government Agency Partners:</strong></h2>
    <p style="text-align:left"><a href="http://business.maryland.gov/" target="_blank">Maryland Department of Business and Economic Development (DBED)</a> – DBED's mission is to create, attract, and retain jobs while promoting Maryland's vibrant cultural economies. DBED also maintains the <a href="http://www.cybermaryland.org//" target="_blank">Cyber Maryland Blog.</a></p><br>
    
    <p style="text-align:left"> <a href="http://www.dllr.maryland.gov/employment/" target="_blank">Maryland Department of Labor, Licensing & Regulation (DLLR)</a> – TDLLR, Division of Workforce Development and Adult Learning oversees the State’s workforce programs. Working in partnership with Local Workforce Investment Areas, services include matching job seekers with employers, providing training opportunities and reporting on the needs and demands of the labor market. DLLR additionally operates the Professional Outplacement Assistance Center (POAC), which provides assistance to individuals who are in the professional, executive, technical, managerial, and/or scientific occupations.</p><br>
    
    <p style="text-align:left"> <a href="http://www.gwib.maryland.gov/" target="_blank">Maryland Governor’s Workforce Investment Board (GWIB) </a> –  GWIB is the governor's chief policy-making body for workforce development. It is a business-led board of 45 members, a majority of whom represent the business community. The GWIB is responsible for developing policies and strategies to form a coordinated workforce system from a variety of education, and employment and training programs. It brings together various workforce development partners and stakeholders to focus on two key outcomes – a properly prepared workforce that meets the current and future demands of Maryland employers, and opportunities for all Marylanders to succeed in the 21st century workforce.</p><br>
    
        <p style="text-align:left"> <a href="http://www.aaedc.org/" target="_blank">Anne Arundel Economic Development Corporation (AAEDC)</a> – The Anne Arundel Economic Development Corporation (AAEDC) is a not for profit organization that provides no-fee business services on behalf of Anne Arundel County. Its mission is to meet the needs of local businesses and to increase Anne Arundel County's economic base through job growth and investment. They are committed to the success of existing businesses while attracting new businesses bringing quality jobs to our citizens and revitalize older areas within the County.</p><br>
        <p style="text-align:left"> <a href="http://carrollbiz.org/" target="_blank">Carroll County Department of Economic Development </a> – The Carroll County Department of Economic Development promotes Carroll County as a business location by encouraging a positive business climate to advance business expansion and new business development. Working closely with educational partners to provide a technically skilled workforce and with local leaders to ensure a marketable supply of industrial buildings and land, the department offers site and facility tours, customized research, financing and regulatory assistance, workforce development and training and business advocacy.</p><br>

   
    
    
  </div>
  
  
  
  
