<body class="course">
<div class="courses">
  <h1>THE GRANT</h1>
  <p style="text-align:left">On June 29, 2010, the U. S. Department of Labor awarded a $4.9 million Community-Based Job Training grant to Anne Arundel Workforce Development Corporation, Anne Arundel Community College and their partners over a period of three years for the Pathways to Cybersecurity Careers Consortium initiative. This project will address the challenges of a lack of adequate pool of skilled cyber workers, the shortage of laboratory facilities to support cyber training, a lack of training in flexible modalities, and barriers to learning for under served populations.</p><br>
  
  <p style="text-align:left">On July 26, 2010, Senators Mikulski and Cardin, Congressman Sarbanes, and Governor O’Malley held a press conference at ARINC announcing the launch of the training program. Senator Mikulski sums, "This is about jobs, jobs, jobs. It’s about giving people the tools they need to keep the jobs they have and it’s about preparing people for jobs that are available in Maryland today."</p><br>
  
  <p style="text-align:left">This funding will create a diverse and flexible array of training options that will grow the cyber skills and competencies of hundreds of Marylanders. Over the course of three years, Pathways to Cybersecurity will assist 1,000 new, dislocated, underemployed, recently separated veterans, and incumbent workers in obtaining the cybersecurity certifications identified as critical industry shortages by regional businesses and government agencies. Employers will provide information on the types of training needed, referrals of incumbent workers to training, and job opportunities for successful completers.</p><br>
  
  
  <p style="text-align:left">The consortium will bring together central Maryland Workforce Investment Boards and community colleges in Anne Arundel, Carroll and Howard Counties and Baltimore City, state and local economic development agencies, local high schools, trade associations, businesses and community-based organizations. Peruse the partners section to learn more about each of the consortium members.</p><br>
  
    <p style="text-align:left">"Our goal is to get our citizens back to work," Kirkland J. Murray, President and CEO of Anne Arundel Workforce Development said. "This funding will address the urgent need to increase the pipeline of qualified workers in cybersecurity, while connecting our citizens to jobs in this high-growth industry. Our region will continue to be a leader in preparing our workforce for the field of cybersecurity."</p>
  
  
  
  
  