
<body class="landing">
<div class="home">
  <div class="container "><br><br><br><br><br><br>
     <div class="head" >
        
       <br><br>
       <h1>Pathways <br> <small>to Cybersecurity Careers Consortium</small></h1>
       
       
       
        <h2>Cybersecurity in Maryland</h2>

        <p style="text-align:left">Maryland has a critical mass of federal agencies and information technology companies that place it as a national epicenter of federal cybersecurity activities. World-class cybersecurity facilities include NSA, Defense Information Systems Agency (DISA), Intelligence Advanced Research Projects Activity, the National Institute of Standards and Technology, 12 major military installations (including Fort Meade in Anne Arundel County which is home to the Navy Fleet Cyber Command and the new U.S. Cyber Command), and hundreds of federal contractors and private technology companies. Maryland information technology employment is dominated by firms that provide computer systems design, key players in cybersecurity activities. Overwhelmingly, stakeholders in Maryland report a need to increase the pipeline of qualified cyber workers as the state’s most immediate and significant challenge.</p>

        <p ><i> The field of cybersecurity is projected to grow by 41% in the next 8 years. Still an emerging field, the median hourly earning is $38 an hour. <br> <br> <%= link_to "LEARN MORE", pages_grant_path , class:"btn btn-lg btn-danger" %></i></p>
       
       <br><br><br><br>
       
       <h2>Business Cybersecurity Measures</h2>
       
        <p >Not only are cybersecurity measures important for defense and governmental entities, they are important for any industry or business needing to secure confidential information from hacking. Types of businesses can include banks, health care providers, major corporations, information technology, e-retailers and businesses, or any small business connected via the internet. For more information on Cybersecurity in Maryland, visit The Maryland Department of Business and Economic Development’s CyberMaryland Report.</p>
       
       <br><br><br><br>
       
       <h2>Cybersecurity Defined</h2>
       
        <p >The definition of cybersecurity as an industry is still evolving and emerging. Many industry and military partners define the industry as those tasks that comprise information assurance and information security activities.</p>
       
       <h2>Business Cybersecurity Measures</h2>
       
        <p >Not only are cybersecurity measures important for defense and governmental entities, they are important for any industry or business needing to secure confidential information from hacking. Types of businesses can include banks, health care providers, major corporations, information technology, e-retailers and businesses, or any small business connected via the internet. For more information on Cybersecurity in Maryland, visit The Maryland Department of Business and Economic Development’s CyberMaryland Report.</p>
       
       <h2> Cybersecurity Range of Occupations</h2>
       
        <p >Computer Programmers ▪ Computer Support Specialists ▪ Computer and Information Scientists ▪ Computer Software Engineers ▪ Computer Systems Analysts ▪ Database Administrators ▪ Network and Computer Systems Administrators ▪ Network Systems and Data Analysts</p>
       
       

      <br><br><br><br>
   </div>
  </div>  
    <div class="succeed">
       <p>The National Security Agency (NSA) defines cybersecurity using the following terms:</p>
            <ul>
                <li><strong> Information Assurance (IA)</strong> <br>
Information Assurance comprises measures that protect and defend information and information systems by ensuring their availability, integrity, authentication, confidentiality, and non-repudiation. These measures include providing for restoration of information systems by incorporating protection, detection, and reaction capabilities.</li>

                <li><strong> Information Systems Security (Information Security, ISS, INFOSEC)</strong> <br>
Protection of information systems against unauthorized access to, or modification of, information, whether in storage, processing, or transit, and against the denial of service to authorized users, including those measures necessary to detect, document, and counter such threats.</li>
      </ul>
            <p> The U.S. Department of Labor identified cybersecurity specialists as "the workers who protect the data and systems in networks that are connected to the Internet. But it is no easy task to deﬁne who, exactly, these specialists are. In part because of that difficulty, their training requirements vary widely. One thing seems certain, however: Cybersecurity is a growing career ﬁeld."<p>
      
      <br><br><br><br>
      
            <h2>Job Seekers</h2>
            <ul>
                <li> Learn how to sign up for the program</li>

                <li>Find out if you are eligible</li>

                <li> Receive one-on-one guidance from a Cyber Career Advisor</li>

                <li> Get job placement assistance</li>

                <li> Learn about available cybersecurity training</li>

                <li>Search for a job in cybersecurity or a related field</li>
            </ul>
      <br>
      
         <h2>Businesses</h2>
            <ul>
                <li>Receive free recruitment assistance from a Business Representative</li>

                <li>Learn about available cybersecurity training</li>

                <li> Train your employees for certifications outlined in DoD Directive 8570.1</li>

                <li>Find out more about hiring incentives and tax credits</li>

               
            </ul>
      <br>
      
      
      
      
            <h2> The Consortium </h2>

                <p>The Pathways to Cybersecurity Careers Consortium received a $4.9 million grant over three years from the U.S. Department of Labor to increase the pipeline of skilled cybersecurity professionals with appropriate industry certifications. Consortium members include workforce agencies, community colleges, businesses, industry experts, government agencies, educational institutions, and community organizations. </p>
      <br>
           