<body class="course">
<div class="courses">
  <h1>INDUSTRY</h1>
  <h2>The role of the industry partners is to provide industry expertise and ensure that the direction of the training and workforce efforts meets general industry needs.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">As part of this role, the workforce agencies will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left">Promote the training within the industry.</p></li>
       <li> <p style="text-align:left">Participate in curriculum review of cybersecurity training.</p></li>
        <li><p style="text-align:left">Provide industry data pertaining to the cybersecurity field.</p></li>
        <li><p style="text-align:left">Assist in the creation of training-related materials.</p></li>
       
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Industry Partners:</strong></h2>
    <p style="text-align:left"><a href="http://www.itaa.org/" target="_blank">TechAmerica</a> – TechAmerica is the leading voice for the U.S. technology industry. Representing approximately 1,200 member companies of all sizes from the public and commercial sectors of the economy, it is the industry's largest advocacy organization and is dedicated to helping members' top and bottom lines. TechAmerica was formed by the merger of AeA, ITAA, GEIA, and the Cyber Security Industry Alliance.</p><br>
    <p style="text-align:left"> <a href="http://www.chesapeaketech.org/" target="_blank">Chesapeake Regional Tech Council (CRTC)</a> – The CRTC provides a forum designed to further economic development in the community through the support of innovation and commercialization of advanced technologies. CRTC attracts new technology companies to the region and helps emerging technology companies grow and prosper, by serving as a resource that meets technology companies' business, education and networking needs. The CRTC brings together all sectors of the area's technology community, enabling it to speak with a strong and unified voice that can be heard throughout the region.</p><br>
    <p style="text-align:left"> <a href="http://www.ftmeadealliance.org/" target="_blank">Fort Meade Alliance</a> – The Fort Meade Alliance is an independent community membership organization created to promote and support Fort George G. Meade as an economic asset and resource to the region. Business and community leaders have joined the Alliance to promote Fort George G. Meade as the installation of first choice for the Department of Defense, the military services, and other federal departments and agencies. Given the upcoming growth to Fort Meade through the 2005 BRAC legislation, the Alliance is actively involved in planning for Fort Meade’s future and BRAC –related activities.</p><br>
   
   
    
    
  </div>
  
  
  
  
