<body class="course">
<div class="courses">
  <h1>FOR JOB SEEKERS</h1>
  <p style="text-align:left">Maryland is the national epicenter of cybersecurity activities, but the industry is facing a critical shortage of workers. State-of-the-art job training in cybersecurity and information assurance is available to eligible job seekers to increase the pipeline of qualified workers in this high-demand field. The Cybersecurity Consortium has dedicated staff to work with job seekers to enter training and connect to employment opportunities.</p>
 <br> <br>

<div class="container">
      <h2 style="text-align:left"><strong>Eligibility Requirements</strong></h2>
  <p style="text-align:left">You must be 18 or older, seeking full-time employment within one year of certification, and be one of the following:</p>
      <ul style="text-align:left">
        <li><p style="text-align:left"><strong>Unemployed </strong>- unemployed or laid off, and seeking skills to obtain employment in the industry.</p></li>
       <li><p style="text-align:left"><strong>Underemployed</strong>- currently employed part-time or in a low wage job, OR</p></li>
        <li><p style="text-align:left"><strong>Incumbent Worker  </strong>-currently employed in the IT field, and seeking to upgrade skills.</p></li>

       
        </ul> 
  </div>
  <br><br>
 <p class="italics"><i> Veterans will get priority of service and will need to show documentation</i></p>
  <br><br>
 <p style="text-align:left">To succeed in training, program participants should have one or more of the following:</p> 
   <ul style="text-align:left">
        <li><p style="text-align:left"><strong>Education </strong>- A or higher degree in Computer Science or other computer-based concentration.</p></li>
       <li><p style="text-align:left"><strong>Certification </strong>- Graduation from a certificate program in IT or computer science.</p></li>
        <li><p style="text-align:left"><strong>Education/Experience </strong>- BS/BA degree in any field plus 2 years of direct IT work experience. </p></li>
     <li><p style="text-align:left"><strong>Experience  </strong>-3 years IT experience, and some computer-based college courses.</p></li>

       
        </ul> 
  <br><br>
 <p style="text-align:left"><strong>Veterans & Wounded Warriors   </strong>No educational and/or work experience requirement. Client must still meet the community college training partner's educational level requirements for taking credit courses, to be eligible for the Pathways to Cybersecurity Careers Consortium Program.</p> 
  
 <p style="text-align:left">Before applying for training in the Pathways to Cybersecurity Careers program, individuals should consider potential employment barriers to successful completion of the program and securing employment in cybersecurity.</p> 
  <br> <br> 
  
   <p style="text-align:left"><strong>Steps to Enter Cybersecurity Program   </strong></p> 
   <ol style="text-align:left">
        <li><p style="text-align:left"><a href="http://www.dllr.maryland.gov/county/" target="_blank"> Contact your local One-Stop Career Center.</a></p></li>
       <li><p style="text-align:left">Attend One-Stop Orientation.</p></li>
        <li><p style="text-align:left">Cyber Career Advisor will contact you to set up a time to meet for eligibility evaluation and to bring in documentation. </p></li>
     <li><p style="text-align:left">Meet with Cyber Career Advisor to finalize Cybersecurity paperwork to enter program.</p></li>

        </ol> 
   <br> <br>
     <p style="text-align:left"><strong>Cybersecurity Training</strong></p> 
  <p style="text-align:left">Find out more about the certifications and training programs offered through the Pathways to Cybersecurity Careers program on our training page.</p> 
  <br> 
       <p style="text-align:left"><strong>Cybersecurity Jobs</strong></p> 
  <p style="text-align:left">To view jobs specific to cybersecurity: Go to the Maryland Labor Exchange System, and enter “cyber” as the keyword.</p> 
  
  
 