<body class="course">
<div class="courses">
  <h1>TRAINING</h1>
  <p style="text-align:left">Cybersecurity training is offered at three area community colleges: Anne Arundel, Howard, and Carroll Community Colleges. Training has been organized into 10 suggested tracks. The tracks are arranged to ensure that students have the prior prerequisites in order to be successful in their chosen track. In addition, the structured tracks assist students by providing recommended course sequencing.<br><br>

Individuals can be confident that, after completion of their selected track, they will have gained the necessary knowledge, skills, and abilities needed to secure a job in their chosen area of study. Additionally, students are prepared to sit for numerous industry certifications exams, many of which are addressed in DOD directive 8570.1.<br><br>

Individuals with little computer experience are advised to begin their studies by selecting an introductory track – Tracks 1, 2, or 3. Those students with a solid computer foundation are welcome to begin in an introductory or advanced track. It is important to note the stackable nature of the tracks. This allows individuals to expand their knowledge by being able to transition from their initial track into a more advanced track, or into a new area of interest.</p>
 <br> <br>


  <h2 style="text-align:left" ><a href="">Understanding the Certifications</a></h2> 
  <p style="text-align:left">This section provides basic information about each of the industry recognized certifications that may be accessed through the Pathways to Cyber Security training tracks. Each of the credentials listed are organized by the types of skills and competencies they are intended to build.</p>  
  
  
  <h2 style="text-align:left"><strong>Training Tracks</strong></h2>
    <p style="text-align:left">Training has been organized into 10 suggested tracks. The tracks are arranged to ensure that students have the prior prerequisites in order to be successful in their chosen track. In addition, the structured tracks assist students by providing recommended course sequencing.</p>
      <ul style="text-align:left">
        <li><p class="italics" style="text-align:left"><strong>Introductory Tracks</strong> – Individuals with little computer experience are advised to begin their studies by selecting an introductory track – Tracks 1 and 2. <br> <i>Introductory certifications include: IC³ ▪ CompTIA A+</i></p></li>
       <li><p class="italics" style="text-align:left"><strong>Advanced: Networking Tracks</strong> –  Individuals with a solid computer foundation are welcome to begin in an advanced track – Tracks 3 – 6. <br> <i>Networking certifications include: CompTIA Network+ ▪ CompTIA Security+ ▪ ICND-1 ▪ ICND-2 ▪ MCSA 70-290 ▪ MCSA 70-291</i></p></li>
        <li><p class="italics" style="text-align:left"><strong>Advanced Cybersecurity Tracks </strong> –  Advanced cybersecurity training is categorized into Tracks 7 – 10. Individuals must gain permission from the college before entering one of these tracks.<br> <i>Cybersecurity certifications include: SCNS ▪ SCNP ▪ CEH ▪ CISSP ▪ CCE</i></p></li>
        </ul> 

  
 

 