<body class="course">
<div class="courses">
  <h1>WORKFORCE AGENCIES</h1>
  <h2>The role of the workforce agencies; located in Anne Arundel, Howard, and Carroll Counties, in addition to the City of Baltimore; is to work with job seekers and businesses to increase the pipeline of skilled cybersecurity professionals and to strengthen the workforce skills within the field of cybersecurity.</h2>

 <h2 class="text-center">OBJECTIVES</h2>
<div class="container">
       <h2 style="text-align:left">As part of this role, the workforce agencies will:</h2>
      <ul style="text-align:left">
       <li><p style="text-align:left"> Recruit, assess, and refer candidates to training.</p></li>
       <li> <p style="text-align:left">Provide job search & job readiness training to prepare participants for a career in cybersecurity.</p></li>
        <li><p style="text-align:left">Provide case management & job search assistance to job seekers interested in cybersecurity careers.</p></li>
        <li><p style="text-align:left">Provide follow-up to support participants obtaining jobs in cybersecurity through the six-month retention period.</p></li>
        <li><p style="text-align:left">Outreach to employers to identify needed skills and skills gaps.</p></li>
        <li><p style="text-align:left">Provide recruitment assistance to fulfill employers’ hiring needs in cybersecurity.</p></li>
        <li><p style="text-align:left">Facilitate cybersecurity training for employers’ incumbent workers.</p></li>
        </ul> 
  </div>
  
  <div >
    <h2 style="text-align:left"> <strong> Workforce Agency Partners:</strong></h2>
    <p style="text-align:left"><a href="http://www.aawdc.org/">Anne Arundel Workforce Development Corporation (AAWDC)</a> – AAWDC is a 501(c)(3) Corporation charged with providing workforce and training services to Anne Arundel County citizens and businesses. AAWDC operates seven Career Centers throughout Anne Arundel County that offer services to businesses and job seekers. Services include recruitment, retention and training funds for business; and job search guidance, workshops and training assistance for job seekers. AAWDC also offers specialized programs for youth, recipients of public assistance, older workers, and offenders.</p><br>
    <p style="text-align:left"> <a href="http://www.oedworks.com/">Baltimore Mayor’s Office of Employment Development (MOED)</a> – MOED coordinates and directs workforce development initiatives responsive to the needs of Baltimore City employers and job seekers in order to enhance and promote the local economy. MOED’s Employ Baltimore strategy provides businesses with a pipeline to qualified, skilled job candidates and supports businesses in retaining and developing their employees. MOED provides citizens easy access to resources that can connect them to jobs and help them build careers.</p><br>
    <p style="text-align:left"><a href="http://carrollworks.com/index.htm"> Carroll County Business & Employment Resource Center (CCBERC)</a> – CCBERC is a one-stop workforce development center dedicated to meeting the workforce needs of community residents and businesses in Carroll County, Maryland. The CCBERC is an office of the Mid-Maryland Workforce Investment Board and the Carroll County Department of Economic Development. CCBERC administers the Workforce Investment Act in Carroll County and is dedicated to employment, training and workforce development.</p><br>
    <p style="text-align:left"><a href="http://www.howardcountymd.gov/ErrorPage.aspx?aspxerrorpath=/doa/doa_workforce_development.htm"> Howard County Office of Workforce Development (OWD)</a> – OWD’s focus is geared towards meeting the workforce and employment needs of businesses and job seekers in the 21st century labor market. Comprehensive employment services are provided under one roof at the Columbia Workforce Center, which offers customers a wide range of tools and resources necessary to help business and job seekers remain competitive in today’s workforce and achieve their employment goals. OWD assists companies and individuals ranging from professional, technical, and managerial to entry level.</p>
    
    
  </div>
  
  
  
  
